.aside {
    position: fixed;
    inset: 0;
    z-index: 1;
}
.asideBg {
    width: 100%;
    height: 100%;
    background-color: #0008;
}
.asideContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 100%;
    max-width: 30rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    border-radius: 2rem 0 0 2rem;
    box-shadow: -0.5rem 0 0.5rem #0003;
}
.asideHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.asideTitle {
    font-size: 2rem;
    line-height: 1em;
    font-weight: normal;
}
.fa-times {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    line-height: 1em;
    color: #999;
    cursor: pointer;
}
.fa-times:hover {
    color: #333;
}
.asideContent {
    max-height: calc(100vh - 8rem);
    overflow: auto;
}

@media (max-width: 30rem) {
    .asideContainer {
        border-radius: 0;
    }
}
