.aside {
    /* display: none; */
    position: fixed;
    inset: 0;
    z-index: 1;
}

.aside.show{
    display: block;
}

.asideBg {
    width: 100%;
    height: 100%;
    background-color: #0008;
}

.asideContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 30rem;
    background-color: #fff;
    top: 0;
    right: 0;
    border-radius: 2rem 0 0 2rem;
    box-shadow: -0.5rem 0 0.5rem #0003;
}

.asideHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.asideTitle {
    font-size: 2rem;
    line-height: 1em;
    font-weight: normal;
}

.faTimes {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #999;
    cursor: pointer;
}

.faTimes:hover {
    color: #333;
}

.asideContent {
    max-height: calc(100vh - 9rem);
    overflow: auto;
}

@media (max-width: 30rem) {
    .aside-container{
        border-radius: 0;
    }
}