.todo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    min-height: calc(100vh - 12rem);
    overflow-y: auto;
    padding-bottom: 2rem;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

 .title {
    font-size: 1.5rem;
    color: red;
}

 .taskList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

 .taskCard {
    position: relative;
    display: grid;
    gap: 0.7rem;
    padding:  1rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.4rem #0002;
}

 .taskActions{
    display: none;
    gap: 05rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
    background-color: #fffe;
    box-shadow: 0 0.1rem 0.4rem #0003;
}

.btn {
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
}


.taskCard:hover .taskActions{
    display: block;
}

.fa-trash{
    color:red;
}

.fa-trash:hover{
    color:white;
    background-color: red;
}

.taskTitle {
    font-size: 1.5rem;
}

.taskDesc {
    font-size: 1rem;
    color: #333;

}

.taskTags {
    display: flex;
    gap: 1rem;
}

.tag {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1em;
    padding: 0.5em 1em;
    background-color: #ccc;
    border-radius: 1em;
}

.taskCard .taskDeadline {

}